
body{
  margin: 0 5%;

}
header{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.form_search{
  display: flex;
  justify-content: center;
  width: 105%;
}

header > img {
  width: 10vh;
}

.header_nav {
  background-color: #E7E7E7;
  width: 90%;
  border: none;
  border-radius:5px 0 0 5px;
  padding: 15px 10px; 
  color: black;
}

input::placeholder{
  color: white;
}

.header_nav::placeholder{
  color: black;
}

#tags{
  display: flex;
  flex-wrap: wrap;
  margin: 20px 0;
}

.tag{
  display: flex;
  width: 10%;
  justify-content: space-around;
  align-items: center;
  width: fit-content;
  font-size: smaller;
  border-radius: 5px;
  margin: 0 10px 10px 0;
}

.tag > * {
  font-size: smaller;
  display: flex;
  margin: 0;
  height: fit-content;
  padding: 7px 10px;
}

main{
  margin: 50px 0;
}

#suggestsIngredients, #suggestsAppliance, #suggestsUstensils{
  position: absolute;
  visibility: hidden;
  display: flex;
  margin-top: 35px;
  flex-direction: row;
  flex-wrap: wrap;
  /* height: 50vh; */
  width: 100%;
  border-radius: 0 5px 5px 5px;
  padding: 10px 0;
  z-index: 10;
}

#suggestsIngredients:last-child{
  display: inline-block;
}

#article_recipes{
  margin: auto;
  display: grid;
  gap: 30px 25px;
  justify-content: space-around;
}

.section_recipe{
  height: 350px;
  padding: 0;
  border-radius: 5px;
  overflow: hidden;
}
.recipe_img{
  background-color: gray;
  width: 100%;
  height: 150px;
}
.recipe_footer{
 display: flex;
 justify-content: space-between;
 background-color: #E7E7E7;
 padding: 0 10px 0 ;
 line-height: 50px;
}

.recipe_time{
  display: flex;
}

h2{
  /* font-size: medium; */
  float: left;
  font-family: Lato;
font-style: normal;
font-weight: normal;
font-size: 16px;
/* line-height: 45px; */
margin-top: 15px;
max-width: 90%;
}

.recipe_descr{
  font-size: smaller;
  float: right;
  width: 50%;
  height: 85px;
  font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 100%;
/* white-space: nowrap; */
  overflow: hidden;
}

 p {
  text-overflow: ellipsis;
 }

 p.suggest{
  font-size: smaller;
  margin: 5px 0;
  margin-left: 15px;
  width: 29%;
 }

 input{
   font-size: 0.9em;
 }

ul{
  list-style: none;
  font-size: smaller;
  float: left;
  padding: 0;
  width: 50%;
  height: 125px;
}

li{
  font-family: Lato;
font-style: normal;
font-weight: bold;
font-size: 11px;
line-height: 14px;
}

.article_search{
  flex-wrap: wrap;
  margin: 20px 12px;
}

.article_search > form{ 
  display: flex;
  position: relative;
  margin-top: 20px;
  font-size: smaller;
  border-radius: 5px;
}


button{
  border: none;
  background-color: #E7E7E7;
  content: "\f52a";
}

textarea:focus, input:focus{
  outline: none;
}

#appliance, #ingredients, #ustensils{
  border: none;
  border-radius: 5px 0 0 5px;
  width: 92.8%;
  padding: 15px;
  font-size: smaller;
  background-color: transparent;
}

span{
  display: flex;
  align-items: center;
  border-radius: 0 5px 5px 0;
  margin: 0;
  width: 25px;
}

span > i {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
}

@media screen and (min-width: 768px) {
  #article_recipes{
    grid-template-columns: repeat(auto-fill, minmax( 30%, 1fr));
  }
  .article_search{
    display: flex;
    margin-right: 15px;
  }
  #appliance, #ingredients, #ustensils{
    border: none;
    border-radius: 5px 0 0 5px;
    width: 100%;
    padding: 15px;
    font-size: smaller;
  }
  #suggestsIngredients, #suggestsAppliance, #suggestsUstensils{
    position: absolute;
    visibility: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-radius: 0 5px 5px 5px;
    padding: 10px 0;
  }
  .article_search > form{ 
    margin-top: 0;
    margin-right: 15px;
  }
  #tags{
    margin: 20px 12px;
  }
}